<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="file" name="uploadFiles" multiple>
    <button class="uploadBtn">Upload</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(".uploadBtn").click(function() {
            var formData = new FormData();
            var inputFile = $("input[type='file']");
            var files = inputFile[0].files;
            for (var i=0; i<files.length; i++) {
                console.log(files[i]);
                formData.append("uploadFiles", files[i]);
            }

            // 업로드 처리
            $.ajax({
                url:'/uploadAjax',
                processData:false,
                contentType:false,
                data:formData,
                type:'post',
                dataType:'json',
                success:function(result) {
                    console.log(result);
                    showUploadedImages(result);
                },
                error :function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            })
        });
    </script>

    <div class="uploadResult">

    </div>
    <script>
        function showUploadedImages(arr) {
            console.log(arr);
            var divArea = $(".uploadResult");
            var str = ""; // 변수 추가
            for (var i=0; i<arr.length; i++) {
                str += "<div>";
                str += "<img src='/display?fileName="+arr[i].thumbnailURL+"'>";
                str += "<button class='removeBtn' data-name='"+arr[i].imageURL+"'>REMOVE</button>";
                str += "</div>";
            }
            divArea.append(str);

            $(".uploadResult").on("click", ".removeBtn", function(e) {
                var target = $(this);
                var fileName = target.data("name");
                var targetDiv = $(this).closest("div");
                console.log(fileName);
                $.post('/removeFile', {fileName:fileName}, function(result) {
                    console.log(result);
                    if (result == true) {
                        targetDiv.remove();
                    }
                })
            })
        }

    </script>
</body>
</html>